.myBG {
    height: 100vh;
    background: url("../asset/Bg/Sumeru2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.best5star {
    height: auto;
    background: url("../asset/Bg/Sumeru3.jpeg");
    background-size: cover;
}

.best4star {
    height: auto;
    background: url("../asset/Bg/Fontaine.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gameImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: auto;
}